body{
    background-color: #222;
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;

}

form{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 5%;

}

input{
    padding: 12px 20px;
    width: 20vw;
}

.send{
    width: 5vw;
}